//Theme colors
$primary: #465957;
$secondary: #d8e395;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc700;
$danger: #dc3545;
$light: #f5f3f0;
$dark: #475857;

//Additional Theme colors
$gray-400: #adadad;
$gray-500: #898888;

$body-bg: $light;
$body-color: $dark;

//Threshhold to decide if font with a background should be white or black (remove for future themes)
$min-contrast-ratio: 2.3;

//Shadow Utility
$enable-shadows: true;
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// FONT
