// Bootstrap Features
$enable-negative-margins: true;

//Theme colors
$primary: #272838;
$secondary: #f3de8a;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc700;
$danger: #dc3545;
$light: #f5f3f0;
$dark: lighten(#ea583d, 20%);

//Additional Theme colors
$gray-400: #adadad;
$gray-500: #898888;

$body-bg: $light;
$body-color: $primary;

//Threshhold to decide if font with a background should be white or black (remove for future themes)
$min-contrast-ratio: 2.3;

//Shadow Utility
$enable-shadows: true;
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// FONT
